export(getDefaultOpts)
export(normFiberCentering)
export(normSlabScaling)
export(plotTensorBF)
export(predictTensorBF)
export(reconstructTensorBF)
export(tensorBF)
export(undoFiberCentering)
export(undoSlabScaling)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "axis", "image", "par", "title")
importFrom("methods", "is")
importFrom("stats", "dist", "hclust", "rgamma", "rnorm", "runif", "sd", "t.test", "var")
